/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.04.2021, 16:08:52
    Author     : shadow
*/

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogs_items {
    padding: 10px;
}

.messages {
    padding: 10px;
    background-color: aliceblue;
}