/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.05.2021, 18:34:52
    Author     : shadow
*/

.additionalInfo {
    display: flex;
    flex-direction: column;
}

.additionalInfo .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.contact span {
    margin-right: 10px;
}

.additionalInfo span {
    font-weight: 600;
    margin-right: 10px;
}

.additionalInfo .row {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.error {
    color: red;
}