/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.04.2021, 16:08:52
    Author     : shadow
*/

.dialog {
    align-content: center;
    display: grid;
    grid-template-columns: 3fr 10fr;
    margin: 10px 0;
}
.dialog img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.dialog a {
    text-align: center;
    margin: auto;
}