/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.04.2021, 16:04:54
    Author     : shadow
*/

.headerLogo {
    width: 40px;
    margin: 10px;
}

.headerLogin {
    margin: 0 10px;
}

.loginBlock {
    float: right;
}

.logoutButton {
    margin: 0 10px;
}
