/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.04.2021, 16:08:52
    Author     : shadow
*/

.wallpaper {
    width: 100%;
    height: 350px;
    opacity: 0.5;
}


.profileDescription {
    padding: 10px;
    position: absolute;
    top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profileDescriptionWrapper {
    margin: 0 30px;
    display: grid;
    grid-template-rows: 0fr 0fr 1fr;
}

.profileDescription .avatar {
    border-radius: 30%;
    height: 300px;
}

.profileDescription .name {
    font-size: xx-large;
    font-weight: 600;
}

.statusInput {
    max-height: 20px;
}