/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.05.2021, 16:08:52
    Author     : shadow
*/

.loginForm {
    display: table-caption;
    padding: 0 10px 20px;
}

.loginForm .loginInput {
    margin: 5px 0;
}

.checkboxWrapper {
    display: flex;
}

.checkboxWrapper .checkboxSpan{
    margin-left: 5px;
}

.error {
    color: red;
}